<div style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>
   <nav>
     <a routerLink="addcategory" class="btn btn-primary active" role="button" routerLinkActive="active">Add Category</a>
     <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add Product</a>
     <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Products</a>
     <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search Product</a>
  </nav>
  <router-outlet></router-outlet>
</div>
